.App {
  text-align: center;
}
.App-header {
  background-image: linear-gradient(150deg, #bcc9e6 0%, #f578dc 100%);
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border: 1px solid rgb(216, 228, 236);
  border-radius: 15px;
  color: #2656f5ca;
  font-family: cursive;
}

.container {
  max-width: 800px;
}
