.SearchEngine h1 {
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Arial Narrow Bold", sans-serif;
}
.SearchEngine h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.SearchEngine ul {
  font-size: 13px;
}

.SearchEngine canvas {
  margin-top: 3px;
  margin-bottom: 5px;
}

.SearchEngine.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.SearchEngine form.row {
  margin: 10px 30px 25px;
}
button.btn-dark {
  color: #fff;
  background-color: #163088ca;
  border-color: #5c6064;
}
